@import "@/assets/styles/fonts.scss";

// variables
:root {
  --font-family: "Satoshi", sans-serif;
  --second-family: "Clash Display", sans-serif;

  --white: #fff;
  --light-gray: #f9f9f9;
  --border-gray: #ebe8f4;
  --border-dark: #cac6da;

  --black: #22202e;

  --primary: #4e4d93;
  --dark-primary: #2a254b;

  --color-link: #726e8d;
  --color-text: #505977;

  --section-gap: 40px 0 80px;
  --section-gap-mobile: 20px 0 40px;
}

// styles reset & body styles
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 240px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--dark-primary);
  background-color: var(--white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body._lock {
  overflow: hidden;
  position: fixed;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--dark-primary);
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: var(--dark-primary);
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--dark-primary);
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

h4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark-primary);
  margin-bottom: 12px;
  text-decoration: none;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-primary);
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.text-sm {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-primary);
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

p:not(:last-of-type) {
  margin-bottom: 16px;
}

.input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  min-height: 56px;
  padding: 0 32px;
  border: none;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 0 10px;
  }
}

//layout
#app {
  display: grid;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  grid-template: auto 1fr auto / minmax(auto, 1440px);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main,
.footer,
.hero,
.subscribe,
.collection,
.collection__title,
.details {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1280px) minmax(
      1.5rem,
      1fr
    );
}

.hero,
.subscribe,
.collection,
.collection__title,
.details {
  grid-column: 1/4;
}

.hero-info,
.difference,
.products-container,
.idea,
.details-content,
.story,
.cart,
.subscribe-content,
.footer-content {
  grid-column: 2;
}
