@import "@/assets/styles/fonts.scss";

// variables
:root {
  --font-family: "Satoshi", sans-serif;
  --second-family: "Clash Display", sans-serif;

  --white: #fff;
  --light-gray: #f9f9f9;
  --border-gray: #bcb9c3;
  --black: #22202e;

  --primary: #4e4d93;
  --dark-primary: #2a254b;
  --red: #cc0000;

  --color-link: #726e8d;
  --color-text: #505977;

  --section-gap: 40px 0 80px;
  --section-gap-mobile: 20px 0 40px;
}

// style reset & body styles
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--dark-primary);
  background-color: var(--white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: var(--dark-primary);
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: var(--dark-primary);
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--dark-primary);
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

h4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-primary);
  text-decoration: none;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--dark-primary);
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.text-sm {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--dark-primary);
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

p:not(:last-of-type) {
  margin-bottom: 12px;
}

.input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  min-height: 56px;
  padding: 0 32px;
  border: none;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 0 16px;
  }
}

.price {
  &__strikeout {
    text-decoration: line-through;
  }
  &__sale {
    color: var(--red);
    margin-right: 8px;
  }
}

//layout
#app {
  display: grid;
  min-height: 100vh;
  min-width: 364px;
  overflow-x: hidden;
  margin-left: calc(100vw - 100%);
  justify-content: center;
  grid-template: auto 1fr auto / minmax(auto, 1440px);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.header,
.main,
.footer {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 1280px) minmax(
      1.5rem,
      1fr
    );
}

//"full-screen" sections
.hero,
.subscribe,
.collection,
.category,
.search-results,
.details,
.cart,
.contact {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 1280px) minmax(
      1.5rem,
      1fr
    );
}

//"normal-size" sections
.hero-info,
.difference,
.idea,
.story,
.products_container,
.details_container,
.subscribe_container,
.footer_container {
  grid-column: 2;
}
