@import "./fonts.scss";

:root {
  --satoshi: "Satoshi", sans-serif;
  --clash: "Clash Display", sans-serif;

  --white: #fff;
  --light-gray: #f9f9f9;
  --border-gray: #ebe8f4;
  --border-dark: #cac6da;

  --black: #22202e;
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --black-coral: #5b5676;
  --lilac: #726e8d;
  --purple-navy: #505977;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--satoshi);
  font-size: 16px;
  color: var(--black);
  min-width: 320px;
  background-color: var(--white);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

.input-text {
  height: 56px;
  padding: 0 32px;
  font-size: 16px;
  border: none;
  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }
}
